* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

header {
	width: 100%;
	padding: 10px 0px 10px 0; /* cima direito baixo esquerdo*/
	background: #7B68EE;
	box-shadow: 1px 1px 5px #CCC;
	float: left;
	position: fixed;
	z-index: 1000;
}

#logo {
	float: left;
	font: 30px Roboto, Tahoma;
	color: #FFF;
	text-decoration: none;
	margin: 10px;
}

#logo:hover {
	color: #86BCFF;
}

nav {
	float: left;
	margin: 15px;
}

nav ul li {
	display: inline;
	list-style: none;
}

nav ul li a {
	margin: 5px;
	padding: 10px;
	color: #FFF; /* branco */
	font: 20px Roboto, Tahoma;
	text-decoration: none;
	transition: all 0.5s;
}

nav ul li a:hover {
	background: #86BCFF;
	color: #7B68EE;
}

#btnmenu {
	float: right;
	margin: 10px;
	display: none;
}

#banner {
	float: left;
	width: 100%;
	margin-top: 75px;
}

#banner img {
	width: 100%;
}

.box {
	width: 100%;
	float: left;
	padding: 70px 0px 70px 0px;
}

label {
	font: 1em Roboto, Tahoma, Arial;
	margin: 10px;
	display: inline;
}

.container {
	width: 960px;
	margin: auto;
}

h1 {
	font: 30px Roboto, Tahoma;
	text-align: center;
	font-weight: bold;
	color: #7B68EE;
}

p {
	font: 14px "Open Sans", Verdana;
	margin: 10px;
}

footer {
	background: #7B68EE;
	float: left;
	padding: 10px 0px 10px 0px;
	text-align: center;
	color: #FFF;
	width: 100%;
	font: 17px Roboto, Tahoma;
}

footer a {
	text-decoration: none;
}

.colunas {
	width: 48%;
	float: left;
	padding-top: 25px;
}

.colunas img {
	width: 80%;
}

.portfolio {
	width: 24%;
	float: left;
}

.redondo {
	border-radius: 400px;
}

.form {
	border: 1px solid #CCC;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	width: 90%;
}

.form:focus {
	background: #ADD8E6;
}

.btn {
	padding: 10px;
	background: #7B68EE;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	transition: all 0.5s;
}

textarea {
	font: 1em Roboto, Tahoma, Arial;
}

select {
	background-color: white;
}

select option {
	background-color: white;	
}